body {
  background-color: #002b5b;
}
.transactions {
  font-family: "Aboreto", cursive;
  background-color: #002b5b;
}
.tHeader {
  margin: 0px;
}
.mainButton {
  background-color: #256d85;

  border: none;
  margin: 20px;
  font-family: "Aboreto", cursive;
  border-radius: 15px;
  width: 200px;
  font-size: larger;
}

.mainButton:hover {
  background-color: #8fe3cf;
}
